<link rel="stylesheet" type="text/css" href="{{ app_root }}/css/feed.css?t={{ time }}" />

<div class="container feed">
  <h2>All Speedrun Games</h2>
  {% for game in games %}
    <div class="card my-4">
      <div class="card-body">
        <h5 class="card-title"><a href="{{ app_root }}/speedrun/game/{{ game.id }}">{{ game.name }}</a></h5>
        <h6 class="card-subtitle mb-2 text-muted">by {{ game.teamname }}</h6>
        <h6 class="card-subtitle mb-2 text-muted">People in team:<br/>
          {% for author in game.authors %}
            {{ author }} &nbsp;
          {% endfor %}
        </h6>
        <p class="card-text">

        </p>
      </div>
    </div>
  {% else %}
    <p>There are no games.</p>
  {% endfor %}
</div>
