<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<style>
body {
  font-family: "Roboto", sans-serif;
  text-align: center;
}
</style>

<h2>Welcome, {{ username }}</h2>
<p>Please verify your email by clicking this link: <a href="https://yasfu.net/blogs/verify/{{ vkey }}">Verify</a></p>
<p>If that link does not work please copy and paste this into your browser: https://yasfu.net/blogs/verify/{{ vkey }}</p>
